body{
  margin: 0;

}

*{
  box-sizing: border-box; }

.li-list:nth-child(1) {
  
      color: white;
    font-size: 34px;
  margin-right: 524px;
    font-family: 'Sonsie One', cursive;
}
.ul-list {
    padding-left: 69px;
    list-style-type: none;
    margin: 0; 
    /* padding: 0; */
    overflow: hidden;
    background-color: #79759b;
    margin-bottom: 0px;
}

.li-list {
  float: left;
      margin-right: 57px;

    padding-top: 1px;
    padding-bottom: 2px;
}

.li-list a {
display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    letter-spacing: 2px;
}



.active {
  background-color: #a9a4d7;
}

#SmartLogo{
  width: 20%;
}





}



/*body{
	margin: 0;

}
.menu-items{
	float: right;
	margin-right: 112px;
}
.navigation{
	height: 59px !important;
	font-family: 'Cinzel', serif;
	letter-spacing: 4px;
	color: #586c81;
}

.navigation img{
	float: left;
	margin-left: 100px;
	width: 20%;
}

.navigation li {
	display: inline;
    margin-right: 64px;
    font-size: 18px;
	
}
.navigation li:nth-child(1) {
	border-bottom: 2px solid #3ac5c8;
}

.menu-button{
	border-radius: 19px;
	font-family: 'Cinzel', serif;
	color: white;
    border-style: none;
    width: 161px;
    height: 33px;
   
    background-color: #55bce9;
}
*/
.maps iframe{
	position: relative;
	width:100%;
	height:400px;
}
/*.maps p{
	
	position: relative;
	width: 100%;
	height: 367px;

}

*/
.container{

  height: 400px;
}
.content{
	float: left;
	background-color: #79759b  ;/*#8272CC*/;
	position: relative;
	width: 35%;
  	padding:0px;
  	height: 1120px; 
}

.content h1{

	font-weight: bold;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	color:white;
	text-align: left;
	padding-top: 50px;
	margin-left: 70px;
	margin-bottom: 0;
}

.content p{
	position: relative;
	font-family:  'Montserrat', sans-serif;
	font-size: 18px;
    letter-spacing: 2px;
    color:white;
    padding-left: 150px;
  
}
#info{
  font-weight: bold;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: left;
  padding-top: 50px;
  margin-left: 70px;
  margin-bottom: 0;
}
.content2{
  position: relative;
  float:right;
  background-color:#79759b;
  width: 65%;
  padding:0px;
  height: 1120px;
}

.content2 h1{

	
font-weight: bold;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: left;
  padding-top: 50px;
  margin-left: 150px;
  margin-bottom: 0;
	
}

.icon-bar li{

	list-style: none;
	margin: 10px 30px;
	display: inline-block;

}

input[type=text], select , textarea {
  width: 100%; 
  padding: 15px;   
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 40px; 
  resize: vertical 

}
input[type=email]{

	width: 100%; 
  padding: 15px;   
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 40px; 
  resize: vertical 
}
input[type=date]{

  width: 100%; 
  padding: 15px;   
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 40px; 
  resize: vertical 
}

.contact-form label{
	color:white;
	font-family:'Montserrat', sans-serif;
	
	font-size:18px;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.contact-form {
	width: 80%;
  margin-right: 210px;
  border-radius: 5px;
  background-color:#79759b /*#8272CC*/;
  padding: 0px;
  margin-left: 150px;
  height:550px;
  margin-top: 65px;
}


  .error {
     
     color: maroon;
     /*box-shadow: 10px 5px 5px maroon;*/
        }
   
.success{
  color:green;
}



.C-Form{
	margin-left: 100px;
	height:320px;
	float:left;
	margin-top: 38px;
}

.icon-bar2 li{


	list-style: none;
	margin: 10px  10px;
	display: inline-block;

}
.icon-bar2{
	margin-left: -48px;
}
/*.C-Form input{
	border-top-width: 0px;
    margin-right: 41px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 5px;
}
#name,#lname{
	     width: 279px;
    height: 37px;
    margin-bottom: 20px;
}

#sms{
	    width: 598px;
    height: 80px;
}
/*.C-Form button{
	    margin-top: 25px;
    margin-left: 439px;
    width: 166px;
    height: 39px;
    border-radius: 34px;
    border-style: none;
    font-size: 16px;
    background-color: #55bce9;
    color: white;
    letter-spacing: 2px;
}
*/
.C-Form p {
	    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;

}

.Contact-Text{
    float: right;
    /* width: 25%; */
    margin-right: 92px;
    /* margin-left: 75px; */
    margin-top: 38px;

}
.Contact-Text img{
	float: left;
	padding-right: 15px;
	
}


#title-contact{

	font-size: 32px;
	margin-bottom: 40px;
}

#Contact-Content{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin-bottom: 36px;

}



#Contact-Link{
	
	font-size: 22px;
}
/*
#message{
	height: 200px;
}


/*.C-Form ::placeholder{
	
    font-size: 17px;
    padding-left: 11px;
    letter-spacing: 1px;

}

#submit-button{
background-color: blue;
    width: 200px;
    margin-left: 81px;
}
*/
h1,h3{
	font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
}

.menu-items{
  float: right;
  margin-right: 112px;

}

.navigation a{
  text-decoration: none;
  text-transform: uppercase;
   font-weight: bold;
    color: #969fa8;

letter-spacing: 4px;
}

.navigation img{
  float: left;
  margin-left: 100px;
  width: 20%;
}

.navigation li {
      display: inline;
    margin-right: 64px;
    font-size: 18px;
  
}
.navigation li:nth-child(1) {
  border-bottom: 2px solid #3ac5c8;
}

@media only screen and (min-width: 500px) and (max-width: 700px){

.ul-list{
  padding: 0;

}
.li-list {
  float:none;
  margin: 0;
}
.li-list a{
 
 
  padding: 0;

}
#sm{
  font-size: 15px;
  margin: 0;
  padding-left: 40%;
 }
.contact-form{
  width:85%;
 /* padding-top: 30px;*/
 margin-left: 25px;
 }
  .C-Form{
  flex: 50%;
  max-width: 100%;
  margin-left: 10px;
 /* border:1px solid black;*/

 }
 
/*.C-Form{
  margin-left: 10px;
}*/
/*.Contact-Text{
  margin-top: -315px;
  padding-left: 530px;
}*/
.Contact-Text{
  margin: -90px 20px 30px 0;
  margin-left: 10px;
}
.content2{
  width: 100%;

}
.content2 h1{
  margin-left: 40px;
}
.content{
  display: none;
}

}




@media only screen and (min-width: 700px) and (max-width: 900px){

.ul-list{
  padding: 0;
}
.li-list {
  float:none;
  margin: 0;

}
.li-list a{
  padding:2px;
}
#sm{
  font-size: 15px;
  margin: 0;
  padding-left: 43%;
 
}
.contact-form{
  width:70%;
  /*padding-top: 30px;*/
 }

/*.C-Form{
  margin-left: 10px;
}
/*.Contact-Text{
  margin-top: -315px;
  padding-left: 530px;
}*/
.content2{
  width: 100%;

}
.content{
  display: none;
}
.C-Form{
  flex: 50%;
  max-width: 100%;
  margin-left: 10px;
 /* border:1px solid black;*/

 }
 .Contact-Text{
  margin: -90px 20px 30px 0;
  margin-left: 10px;
  float: left;
}


}

@media only screen and (min-width: 900px) and (max-width: 1024px){

.ul-list{
  padding: 0;
}
.li-list {
  float:none;
  margin: 0;

}
.li-list a{
  padding:2px;
}
#sm{
  font-size: 15px;
  margin: 0;
  padding-left: 45%;
 
}

.contact-form{
  width:70%;
  /*padding-top: 30px;*/
 }


.C-Form{
  margin-left: 10px;
}
.Contact-Text{
  margin-top: -315px;
  padding-left: 530px;
}
}
@media only screen and (min-width: 1025px) and (max-width: 1200px){

.ul-list{
  padding: 0;
}
.li-list {
  float:none;
  margin: 0;

}
.li-list a{
  padding:2px;
}
#sm{
  font-size: 15px;
  margin: 0;
  padding-left: 45%;
 }
.contact-form{
  width:70%;
  /*padding-top: 30px;*/
 }

.C-Form{
  margin-left: 10px;
}
.Contact-Text{
  margin-top: -315px;
  padding-left: 530px;
}
}
@media only screen and (min-width: 1201px) and (max-width: 1528px){

.ul-list{
  padding: 0;
}
.li-list {
  float:none;
  margin: 0;

}
.li-list a{
  padding:2px;
}
#sm{
  font-size: 15px;
  margin: 0;
  padding-left: 46%;
 
}
.contact-form{
  width:70%;
  /*padding-top: 30px;*/
 }

 

.C-Form{
  margin-left: 10px;
}
.Contact-Text{
  margin-top: -315px;
  padding-left: 530px;
}
}






















